body{
    font-family: 'roboto mono';
    background: linear-gradient(rgb(90, 129, 200),rgb(100, 150, 85));
    height:600px;
    overflow: hidden;
}
h1{
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
    color: aliceblue;
    
    
}
table{
    margin: 10px auto;
    text-align: center;
}
.label{
    font-size: 90px;
    line-height: 90px;
    margin: 3px;
    width: 150px;
}
td>button{
    width: 100px;
    padding: 8px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.192);
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
}